* {
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    font-family: 'M PLUS 1p', sans-serif;
}

::selection { 
    background: #FFDCAC; 
}


#page_Loader{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url(../images/spinner.gif) no-repeat center center rgba(0,0,0,0.4)
}

/**
 Navigation Bar Css
 */
 
    .navbar-collapse{width: auto;}

    #navbarstyle{
        background-color: #2c2b2b;
        min-height: 8vh;
        
    }

    #navbarstyle a{color:#}

    #sitename{
        float:right;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        padding-top: 25px;
        padding-left: 10px;
        font-size: 20px;
        color: #b5b5b6;
    }
    .navbar_logo {
        height: 45px;
        width: auto;
        padding-left: 20px;
    }
   .nav-item > a{
        color: #e3e3e3 !important;
    }
    .nav-item > a:hover{
        color: #1ab5b7 !important;
    }
    .nav-item > a:active{
        color: #1ab5b7 !important;
    }
/* #btnregister{
    margin-right: 2%;
    
}
#btnlogin{
    margin-right: 4%;
   
} */
/* #btnregister button, #btnlogin button{
    background-color: #2c2b2b;
    width:100%;
    border: none;
    height: 35px;
    border-radius: 22px;  
    border: 2px solid #1ab5b7;
    cursor: pointer;
    color:#1ab5b7;
    margin-left: 15px;
    outline: none;
   
}
#btnregister button:hover, #btnlogin button:hover{
    background-color: #1ab5b7;
    color:#1d1d1d; 
  
} */

#btnliButtonFirst{
    margin-left:20px;
    margin-right:10px;
}

.btnNavabarStyle button{
    border-radius: 22px;
}

#btnmodal:hover{
    background-color:#1ab5b7;
    color:#2c2b2b;
}

#login{
    background-color: none;
    border: none;
    height: 45px;
    border-radius: 22px;  
    width: 100%;
    border: 2px solid #fbba0b;
    margin-left: 15px;
}
#login a{
    color:#fbba0b;
}


/**
    modal
*/

#modalregistertitle{
margin-left:36%;
}

.modal-title{
    color: white;
    margin-left:40%;
}

.modal-header{
    background-color: #169b99;
  margin-bottom: 30px;

}
.modal {
    opacity:0.9;
    background-color: #1d1d1d ;
}
#modalcontentlogin{margin-top: 150px;}

.modal-content{margin-top: 50px;}

.form-control{
     border-radius: 22px;  
}

.btnmodalform{
    background-color: #169b99;
    color: white;
    height: 50px;
    width: 40%;
    border-radius: 22px;  
    border: none;
    display: inline-block;
    font-size: 20px;
    margin-left:30%;
    margin-top: 30px;
    margin-bottom: 20px;
  
}



#btnmodalfb{
    float: right;
    background-color: #4267b2;
    margin-left: 0;
    margin-right: 8%;}

#btnmodalfb:hover{
    background-color: #507acf;
    outline: none;
}
.btnmodalform:hover{
    background-color: #1ab5b7;
    outline: none;
    
}
#logintext{
    color:#169b99;
    margin-left: 46%;
}

.form-group input{font-size:18px;
    border-radius: 22px; 
    height: 45px; }

 #termofusemodal, #forgotpassmodal{opacity: 1 ;}   

 #modalcontentfgpass{margin-top: 150px;}

 #forgotpasstitle{margin-left: 15%;}
 #termofusetitle{margin-left: 30%;}
#forgotpass{
    background-color: white;
    color: #169b99;
    border: none;
    cursor: pointer;
    margin-left: 34%;
    outline: none;
}

/**
    error page css
 */
.error_img{
    height: 80vh;
    display: block;
    width: 100%;
    text-align: center;
}

.error_img img {
    height: 100%;
    width: auto;
}

.error_page_button {
    height: 20vh;
    width: 100%;
}

.error_page_button a{
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/*-------------LOGIN,REGISTER FORM----------------------*/
#cardBodyForm, #cardBodyReg{
    border:none;
}

#cardBodyForm #loginForm input:not([type='checkbox']), #cardBodyReg #registerForm input:not([type='checkbox']){
    border:none;
    border-bottom:3px solid black;
}

#cardBodyForm #loginForm input:not([type='checkbox']), #cardBodyReg #registerForm input:not([type='checkbox']){
    outline:none !important;
    -webkit-appearance:none !important;
    box-shadow:none !important;
}

#passwordDiv, #passwordDivReg{
    position: relative;
}

.glyphicon{
    position: absolute;
    right:5px;
    bottom:25%;
    transform: translateY(-25%);
}

.gym-title{
    background-color: #00c2db;
    color: white;
    width: 100%;
}

.gym-title h1{
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.login {
    height: 55vh;
}


/**
    Footer Css
 */

footer{
    height: 100%;
    background-color: #1d1d1d;
    color: #ffffff;
}

footer p a {

    color: #ffffff;
}
.footer_logo{
    height: 100px;
    width: auto;
}
.footerrow{margin-top: 50px;}

#gymaround{
    display: none;
}
#sicon img:hover{
    opacity: 0.6;
}
#footermenu > p > a , #footerextra > p > a{
    color: #e3e3e3;
    text-decoration: none;
}
#footermenu > p > a:hover, #footerextra > p > a:hover{
    color: #1ab5b7;
}

/*-------------INDEX ----------------------*/
.fimage{
    background-repeat: no-repeat;
    width:100%;
    background-image:url(../images/fimagen.jpg);
    background-size:cover;
    height:92vh;
}

#bigtitle{
    color:#fbba0b;/*orange*/
    font-weight: 500;
    font-size:60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top:50%;
}

#boxgrey{
    background-color:#1d1d1d;/*grey*/
    width:100%;
    height:92vh;
    opacity: 0.8;
    padding: 0;
    text-align: center;
}
#mobiletitle{
    display: none;
    }

#title{
    color: #169b99;/*BLUE*/
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45px;
    margin-top: 240px;
}

select{
  
    background-color: #b5b5b6;
    opacity: 0.8;
    border-radius: 0;
    font-weight: 500;
    color: #1d1d1d;
    width: 100%;
    padding: 11px 15px;
    line-height: normal;


}

#slc1{
    margin-top: 50px;
    width: 60%;
}
#slc2{
    margin-top: 30px;
    width: 60%;
}


.orangeline{
    width:19%;
    height: 5px;
    background-color: #fbba0b;
    margin-top: -22px;
    margin-bottom: 20px;
}

#number{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    text-align:center;}

#numbercolor{color: #169b99;}

#bestgymimg img{margin-bottom: 20px;}

.rowbestgymmobile{display: none;}


.displaySecondGym,.displayThirdGym,.displaySecondGymPhoto,.displayThirdGymPhoto{
    display:none;
}

#leftArrowChangeGym,#rightArrowChangeGym{
    cursor:pointer;
}

#titlenewsletter{ 
    text-align:center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 35px;
    color: white;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

 #subscribeForm div input{
     opacity: 0.8;
 }
 #subscribeForm div label{
   color: white;
}
#btnregister{
    background-color: #fbba0b;
    border: none;
    height: 45px;
    border-radius: 22px;  
    display: inline-block;
    font-size: 20px;
    outline: none;
    width: 100%;
    
}
/*******************************************
-------------BUTTON ORANGE----------------------
********************************************/

.btnorange{
    background-color: #fbba0b;
    border: none;
    height: 45px;
    border-radius: 22px;  
    display: inline-block;
    font-size: 20px;
    outline: none;
}



.btnorange:hover{background-color: #1d1d1d;
    border: 2px solid #fbba0b;
    color:#fbba0b;
}

.btnorange a:hover{
    color: #fbba0b;
    font-size: 21px;
    font-weight: 600px;

}
/*******************************************
**********************************************/

#btnfooter{
    background-color: #1d1d1d;
    width: 80%;
    border: 2px solid #fbba0b;
    border-radius: 22px;
    padding: 8px;
    font-size: 18px;
    outline: none;
}
#btnfooter:hover{
    background-color: #fbba0b;
}

#btnfooter a{
  margin-left: 14px;
  color: #fbba0b;
}

#btnfooter a:hover{
    color: #1d1d1d;
    text-decoration: none;
}
/*******************************************
-------------BUTTON BLUE----------------------
********************************************/

.btnblue{
    background-color: #169b99;
    border: none;
    width: 115%;
    height: 45px;
    border-radius: 22px;
    color:white;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    font-size: 20px;
    outline: none;
}


.btnblue:hover{
    background-color: #e3e3e3;
    border-radius: 22px;
    border: 2px solid#169b99;
    color:#169b99;

}

.btnblue a:hover{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    color:#169b99;
    font-size: 21px;

}
/*******************************************
**********************************************/

#btnsearch{
    margin-top: 40px;
    width: 40%;
    cursor: pointer;
    outline: none;
}


#btnmember{
    margin-top: 10px; 
    cursor: pointer;
    outline: none;
   }
#btnmember:hover{
    color: #1ab5b7;
    background-color: #303741;
    font-weight: 600;
}


.rowtitle{
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#169b99;
}



#gymname{
    font-size:35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 40px;
    margin-bottom: 5px;
}
#gymname a{
    text-decoration: none;
    display: inline-block;
    color:#1d1d1d;
}
#imgbestgym{margin-bottom: 20px;}

#imgbestgym:hover{
    opacity: 0.3;
}
#onetothree{font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}

.box1{
    /* height: 65vh; */
    width: 100%;
    background-size: cover;
    display: table;
    background-attachment: fixed;}

.box2{
    height: 450px;
    width:110%;
    background-image:url(../images/indexblogphoto.jpeg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
}

.box3 {
    width: 100%;
    background-size: cover;
    display: table;
    background-attachment: fixed; 
}


.blogarticle{
    height:450px;
    width: 100%;
    background-color: #f6f6f4;
}

#blogtitle{
    margin-left: 20px;
    padding-top:50px;
   
}

#articletitle{
   padding-top: 10px;
    font-size:24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 20px;
}
#article{
    font-size: 15px;
    margin-left:20px;
    width: 80%;
}

#btnblog{padding: 5px;}

#btnblog:hover{
    text-decoration: none;
    background-color:#f6f6f4;
    border: 2px solid#169b99;
    padding: 5px;
}

.flexAllItems{
    display:flex;
    align-items: center;
}


.sponsorsFirst,.sponsorsSecond{
    margin-left:1%;
    margin-right:1%;
    margin-bottom: 5%;
}

.sponsorsSecond{
    display:none;
}

#sponsors1,#sponsors2{
    cursor:pointer;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

  .flex-container > div {
    filter: grayscale(100%);
  }

  .flex-container > div:hover{
    filter: grayscale(0%);
  }

  #newsletter{
    background-image: linear-gradient(to right,#169b99 , #1ecfcc);
  }
  #btnnewsletter{
    background-color: #ffc731;
    color: white;
    font-weight: 500;
    border: none;
    height: 45px;
    border-radius: 22px;
    display: inline-block;
    font-size: 20px;
    outline: none;
    width: 100%;
    cursor: pointer;

  }
  #btnnewsletter:hover{
     background-color: #fbba0b;
     font-weight: 700;
      border: 2px solid #fba30b;
  }

  /****************************************************************************************************
  ******************************************************************************************************
  ***********************************----GYM PAGE----****************************************************/

 
  .gymelement{
      height: 600px;
      background-color: #e3e3e3; /*grey light*/
  }
  .gymelement img{
      margin-bottom: 10px;
  }
  .gymelement p{
   font-size:20px;
  }
  
  #gymaddress a{
      color: black;
    text-decoration: none;
    display: inline-block;
  }

  #gymaddress a:hover{
    color: #169b99;
    text-decoration: none;
    display: inline-block;
}

  #gymlogo{margin-top: 110px;}

  #gymsnames{
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 30px;
      padding-top: 110px;
    }

  


  .basictitle{
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 40px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color:#169b99;
    }
    #bigabouttext{
        padding-bottom:20px;
    }
    
    #images{
        background-color: #e3e3e3;
    }

    #imagerow2{
        margin-top: 5px;
    }

    #btnsundromes{
        margin-top: 10px;
        color: #1d1d1d;
        width: 70%;
        text-align: center;
        padding: 2%;
    }

    #btnsundromes:hover{
        text-decoration: none;
        color: #fba30b;
        background-color: #e3e3e3;
        font-weight: 500;
    }

    /****TRAINERS****/
   
    .trainerdescr{
        width: 100%;
        height: 50px;
        background-color: #fbba0b;
    }

    .trainerdescr p{
        text-align: center;
        padding-top:11px;
        font-size: 20px;
    }
    #trainerphoto{
        margin-top: 35px;
        margin-bottom: 70px;
    }
    #arrow{
        margin-top: 160px;
    }

    /****SUNDROMES******/

    .sundromesrow{
       
        background-color: #1d1d1d;}

     .orangebox{
        padding-bottom:20px;
        width: 100%;
        height: 420px;
        background-color: none;
        border: 5px solid #ffc731;
    }

    .flip-card-back p, .orangebox p{
        text-align: center;
        font-size: 30px;
        color: white;
    }

    #month{
        margin-top: 40px;
        margin-bottom: 40px;

    }

    #priceback{
        text-shadow: 1px 1px 1px #b5b5b6;
        font-size: 50px;
        margin-top: 30%;
        margin-bottom: 10%;
        color:white;
    }
    #price{
        text-shadow: 1px 1px 1px #b5b5b6;
        font-size: 62px;
        color: #fbba0b;
        margin-top: 40px;
    }

    .flex-container-sundromes {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 20px;
        
        }
        
    .flex-container-sundromes > div {
        
        text-align: center;
        margin-left: 10px;
        
        }




    /* start custom carousel */
    .rowLightBox > .columnLightBox {
        padding: 0 8px;
        cursor:pointer;
      }
      
      .rowLightBox:after {
        content: "";
        display: table;
        clear: both;
      }
      
      /* Create four equal columns that floats next to eachother */
      .columnLightBox {
        float: left;
        width: 33%;   
      }
      
      /* The Modal (background) */
      .modalLightBox {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        background-color: black;
      }
      
      /* Modal Content */
      .modal-contentLightBox {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        width: 90%;
        max-width: 800px;
      }
      
      /* The Close Button */
      .closeLightBox {
        color: white;
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 35px;
        font-weight: bold;
      }
      
      .closeLightBox:hover,
      .closeLightBox:focus {
        color: #999;
        text-decoration: none;
        cursor: pointer;
      }
      
      /* Hide the slides by default */
      .mySlides {
        display: none;
      }
      
      /* Next & previous buttons */
      .prevLightBox,
      .nextLightBox {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
      }
      
      /* Position the "next button" to the right */
      .nextLightBox {
        right: 0;
        border-radius: 3px 0 0 3px;
      }
      
      /* On hover, add a black background color with a little bit see-through */
      .prevLightBox:hover,
      .nextLightBox:hover {
        background-color: rgba(0, 0, 0, 0.8);
      }
      
      /* Number text (1/3 etc) */
      .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
      }
      
      /* Caption text */
      .caption-container {
        text-align: center;
        background-color: black;
        padding: 2px 16px;
        color: white;
      }
      
      img.demoLightBox {
        opacity: 0;
      }
      
      .active,
      .demo:hover {
        opacity: 1;
      }
      
      img.hover-shadow {
        transition: 0.3s;
      }
      
      .hover-shadow:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
    
      .columnLightBox {
          margin:10px 0;
      }
    /* end custom carousel */














  /****************************************************************************************************
  ******************************************************************************************************
  *****************************----SEARCH PAGE----*********************************************************/
  #gymMainPhoto{
    margin-bottom:10px;
    width:200px;
    height: auto;
}

.btn-warning {
    background-color: white !important;
}
  
.listings .item {
    border-bottom: 3px solid #eee !important; 
}

  #totalGymResulstsSpan{
    color:#169b99 !important;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:25px;
  
  }

    .customBtnG{
        border-radius:22px !important;
    }
    .dropDownMenuCol button:hover{
        color: #169b99 !important;
    }

.btn-outline-info:not(:disabled):not(.disabled).active, .btn-outline-info:not(:disabled):not(.disabled):active, .show>.btn-outline-info.dropdown-toggle{
        color: white !important;
    }

 .btn-outline-info{
     color: #169b99 !important;
     border: 3px solid #169b99;

 }
 .btn-outline-info:hover{
     color:white !important;
     background-color: #169b99 !important;
 }

    .btnsearchpage{ 
            background-color: white; 
            border: none;
            font-size: 18px;
            height: 45px;
            border-radius: 22px; 
            border: 2px solid #169b99;
            width: 85%;
            color:#169b99;
            outline: none;
        }

    .btnsearchpage:hover{
        
            background-color: #169b99;
            color: white;
        }

    #btngymssearch{
        background-color: white; 
        border: none;
        font-size: 18px;
        height: 45px;
        border-radius: 22px; 
        border: 2px solid #169b99;
        border: 2px solid #b5b5b6;
        width: 90%;
        color:#8e8a8a;
        margin-bottom: 50px;
            
        }

    #btngymsfilter{
        width:115%;

    }
    .searchpage{
        margin-top: 30px;

    }
    .gymsresult{
        /* height: 250px; */
        width:95%;
        background-color: #e3e3e3;
        margin-bottom: 5px;
    }

    .gymsresult.card {
        background-color: #e3e3e3 !important;
    }

    #gymstitles a{
        font-size: 22px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-decoration: none;
        display: inline-block;
        color: black;
    }

    /*-------start syle div boxes for gyms-------------*/
    .gymsTitle, .gymsTitle a{
        color:black;
        text-decoration: none;
        transition:  font-weight 0.1s ease-in-out;
    }

    .gymsTitle a:hover{
        text-decoration: none;
        color:black;
        font-weight:900;

    }

    #btnGymPrice{
        border-radius:25px;
        font-weight:600;
    }

    #searchFieldset {
        background: #ddd;
        border: none;
        padding: 10px;
        margin: 0;
    }
    
    #feature-filter{
      width:100%;
      display:block;
      text-align:center;
    }
    
    .emptyResultsTitle{
      text-align:center;
      color:red;
    }
    
    .ratingStars{
      cursor:pointer;
    }
    
    .hideDropDownElement{
        display:none !important;
    }

    .dropDownMenuCol button:hover{
        color:red;
        cursor:pointer;
    }
    /****************************************************************************************************
    ******************************************************************************************************
    *****************************----ABOUT----*********************************************************/
  
    #imgabout{

        background-repeat: no-repeat;
        width:100%;
        background-image:url(../images/aboutus/about.jpg);
        background-size:cover;
        height:50vh;
        min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

    .team{
        background-color:#e3e3e3;
    }

    .teamimg img{
        border-radius: 50%;
        margin-bottom: 20px;
    }

    .teamimg p{
        text-align: center;
        font-size: 20px;
    }

/****************************************************************************************************
  ******************************************************************************************************
  *****************************----OWNER INDEX PAGE----*********************************************************/

  #imgpartner{

    background-image:url(../images/owners/bigimgowners.jpeg);
    height: 500px; 
   
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #ourservices{
      margin-top:350px;
      height:400px;
      background-color:white;
      filter: grayscale(0%);
      box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);  
  }
 .partnerform{
      background-color: white;
      width: 100%;
      margin-top:355px;
      padding-bottom:100px;
      background-image: linear-gradient(to right,#169b99 , #1ecfcc);
  }

  .titlepartner {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    padding-bottom: 45px;
    padding-top: 45px;
    color: #169b99;
}
 .titlepartnerform{
      padding: 60px;
      font-size: 35px;
      color: white;
      text-align: center;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  #registerOwnerForm div input{
    opacity: 0.8;
}
#registerOwnerForm div label{
  color: white;
}

 #btnformpartner{
    background-color: #ffc731;
    color: white;
    font-size:20px;
    border-radius: 22px;
    width: 40%;
    margin-left: 30%;
    margin-top: 20px;
    padding: 8px;
    font-weight: 600;
}
#btnformpartner:hover{
    background-color: #fbba0b;
    border: 2px solid #fba30b;
}

#stepsicons img{
    display: block;
  margin-left: auto;
  margin-right: auto;
    margin-bottom: 15px;

}
#stepsicons p{text-align: center;}
/****************************************************************************************************
  ******************************************************************************************************
  *****************************----BLOG PAGE----*********************************************************/

 #imgblog{

    background-repeat: no-repeat;
    width:100%;
    background-image:url(../images/blog/blog.jpg);
    background-size:cover;
    height:50vh;
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 180px;

}

.blogbox{
    padding: 20px;
    
    border-bottom: 1px #e3e3e3 solid;
    margin-bottom: 10px;
  
}
.blogbox {
    margin-bottom: 15px;
}
.blogbox a{
    color: #169b99;
}
.blogbox a:hover{
    text-decoration: none;
    color: #169b99;
}
.pagination{margin: 30px;}

#contactpage, #blogpage{
    
        margin-top: 380px;
        height:250px;
        background-color:white;
        filter: grayscale(0%);
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);  
    
}

#contactdescription, #blogdescription{
    text-align: center;
    font-size: 25px;
    color: #2c2b2b;
}

#contactpagetitle, #blogpagetitle {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    padding-top: 45px;
    color: #169b99;
}

.pagination a{
    color: #169b99;
} 
.pagination a:hover{
    color: #169b99;
} 

.articlerow, .mediacomments{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: 1px #e3e3e3 solid;
}
.media{
    margin-top: 20px;
    padding-bottom: 30px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }
  #btncomment{
    border:2px solid #8e8a8a;
    background-color: #ffc731;
    color: #2c2b2b;
    font-size:20px;
    border-radius: 22px;
    width: 100%;
    margin-top: 20px;
    padding: 8px;
    font-weight: 600;
    margin-bottom: 50px;
}
#btncomment:hover{
    border:2px solid#ffc731;
    background-color: white;
    color:  #ffc731;
    font-weight: 700;
}

#commentday{float:right;}

/****************************************************************************************************
  ******************************************************************************************************
  *****************************----CONTACT PAGE----*********************************************************/

  #imgcontact{

    background-repeat: no-repeat;
    width:100%;
    background-image:url(../images/contact.jpeg);
    background-size:cover;
    height:50vh;
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 180px;

}
 #btncontactform{
    background-color: #ffc731;
    color: #2c2b2b;
    font-size:20px;
    border-radius: 22px;
    padding: 8px;
    font-weight: 600;
    border-color: #ffc731;

}
#btncontactform:hover{
    background-color: white;
    color: #ffc731;
    font-weight: 600;
    border: 1px solid #ffc731;

}
/****************************************************************************************************
  ******************************************************************************************************
  *****************************----Payment PAGE----*********************************************************/
.paymenttitle{
    color: #1d1d1d;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 10%;
}


/***************************ANIMATE********************/

.flip-card {
    width: 265px;
    height: 420px;
    background-color: none;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
   
    color: black;
    z-index: 2;
  }
  
  .flip-card-back {
    background-color: #1d1d1d;
    border: 5px solid #ffc731;
    color: white;
    transform: rotateY(180deg);
    z-index: 1;
  }
  .flip-card-back a{
      text-decoration: none;
      display: inline-block; 
      font-size: 25px;
      color: #fbba0b;
  }
  .flip-card-back a:hover{
    text-decoration: none;
    display: inline-block; 
    color: #1d1d1d;;
  }

  .buylink{
    width: 80%;
    border: 2px solid #fbba0b;
    border-radius: 22px;
    margin-top: 10%;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 45px;
    padding-right: 45px;
    font-size: 18px;
    outline: none;
  }

  .buylink:hover{
  background-color: #ffc731;

  }

    /*****ANIMATION ONSCROLLL*****/  

.aboutscroll{
    margin:0 auto;
    transform-style: preserve-3d;
    transform: perspective(600px);      
    }
          
  
.aboutscroll #bigabouttext{
    
        font-weight: 400;
    }
    
.aboutscroll #bigabouttext{
        transition: all 0.8s ease;}
    
.aboutscroll.hide #bigabouttext{
        opacity: 0;
        transform: translate3d(0, 0, 200px) rotateY(-30deg);
    }


    .anime {
        opacity: 0;
        transform: translate3d(-100px,0,0);
        transition: all 0.8s ease-in;
    }
    
    .anime-start {
        opacity: 1;
        transform: translate3d(0,0,0);
    }

    .anime-left {
        opacity: 0;
        transform: translate3d(100px,0,0);
        transition: all 0.8s ease-in;
    }

    .anime-end{
        opacity: 1;
        transform: translate3d(0,0,0);
    }







/*********************************************************************************************
**********************************!!!!!---RESPONCIVE---!!!!***********************************
********************************************************************************************/


/*********************************************************************************************
****************************RESPONSIVE 1790*********************************************/

@media (min-width: 1790px) {
    
    #blogtitle{
        margin-left: 20px;
        padding-top:50px;
    }  
    #btnblog{width:100%;}

    #title{margin-top: 300px;}

    #article{
        padding-top:30px;
        padding-bottom:40px;
    }
    
    #btnmember{width:80%;}

    #bigtitle{margin-top: 370px;}

    #slc1, #slc2 {
        height: 60px;
        width: 60%;
    }

    #slc2{margin-bottom: 20px;}

    #articletitle, #article{margin-left: 50px}
}


/****************************SEARCH RESPONSIVE  **********************************/

@media (max-width: 1500px) {
   

    #btnGymPrice{
        float:left !important;
        display:block !important;
        margin-left:0 auto !important;
        width:150px;
        margin-bottom:25px !important;
    }

    #gymMainPhoto{
        margin-bottom:10px;
        width:200px;
       height: auto;
    }

    .ratingStars{
        clear:both !important;
        display:block !important;
    }

    .gymsTitle{
        clear:both;
    }

    #gumsPhoneNum{
        clear:both;
    }
}


@media (max-width: 932px) {
    .sidebar {
        width: 40% !important;
      }

      .map {
        width: 58% !important;
      }
}

@media (max-width: 700px) {
    .sidebar {
        width: 47% !important;
      }

      .map {
        width: 51% !important;
      }
}

@media (max-width: 600px) {

    .sidebar {
        position:relative !important;
        display:block !important;
        width: 100% !important;
        display:block !important;
        height:100vh !important;
        margin:0 !important;
        padding: 0 !important;
        overflow: visible !important;
        margin-bottom: 200px !important;
      }

      .map {
        margin:0 !important;
        padding: 0 !important;
        display:block !important;
        position:inherit !important;
        width: 100% !important;
        height:70vh !important;
      } 

      .controlDivDetails{
          display:block !important;
          margin:0 auto !important;
          text-align:center !important;
      }

      #typeFitness, #btnGymPrice, #gymMainPhoto, .title{
        clear:both !important;
        display:block !important;
        margin:10px auto !important;
        float:none !important;
        text-align:center !important;
      }

      .listings {
        padding-bottom: 10px !important;
      }
      

      #showResultsOnMobile{
          display:block !important;
          margin:15px auto !important;
          text-align:center !important;
      }

    } 


    

/****************************NAVBAR RESPONSIVE  LG BREAKPOINT*********************************************/
@media  (max-width: 1036px) { 
    #btnliButtonFirst{
        margin-left:0px;
         margin-right:0px;
        margin-top:14px;
        margin-bottom:8px;
    }
    
 }

/****************************NAVBAR RESPONSIVE  IPAD PRO*********************************************/

 @media (min-width: 1024px) and (max-width: 1025px) { 
  
    .fimage, #boxgrey{height: 50vh !important; }

    .blogarticle, .box2{height:30vh !important;}
 }


/****************************RESPONSIVE 992 - 1200*********************************************/

  @media (min-width: 992px) and (max-width: 1199.98px){ 
      /*******INDEX***********/ 

    .fimage, #boxgrey{height: 90vh; }

    #bestgymimg img{margin-top: 40px;}
    
    #blogtitle{padding-top:5px;} 

    .btnblue{width:140%;}

    #articletitle {margin-top: 0;}
  
    #boxgrey{opacity:0.9;}

    #bigtitle{margin-top: 180px;}
  
    #title{margin-top: 150px;}

    .box2, .blogarticle{
        height: 53.4vh;
        margin-bottom: 40px;
    }
   

/***********GYM INDEX*********/

    .gymelement{height: 450px;}

    #biggymimg img{height: 450px;}

    #gymaddress p{font-size: 15px;}

    #gymsnames{font-size: 25px;}

    #activities{font-size: 18px;}

    #btnsundromes{width: 100%;}

    #gymlogo{width: 130%;}

  }

  /************************************************************************
  ********************RESPONSIVE 992 - 768*********************************/

  @media (min-width: 768px) and (max-width: 991.98px) { 

     /*******INDEX***********/ 
      
    .teamimg img{width:150px; }

    .nav-item > a{border-bottom:1px solid #303741;}
    
    .fimage{height: 500px;}
 
    #boxgrey{height: 500px;}

    .rowtitle{padding-top: 30px;}

    #bestgymimg img{margin-top: 40px;}
    
    #slc1{margin-top: 30px;}

    .rowtitle{font-size: 35px;}

    #gymname{
        font-size: 30px;
        margin-bottom: 5px;
    }

    #bigtitle{
        font-size: 40px;
        margin-top: 150px;
    }

    #btnsearch{width: 60%;}

    #gymtitle{margin-top: 30px;}

    #btnmember, #footermenu,  #footerextra,  #footertitle{display:none;}

    #title{
        color: #169b99;/*BLUE*/
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 54px;
        margin-top: 80px;
    }
    
    #scl1{margin-top: 30px;}

   /*******FOOTER***********/ 
   
    #btnfooter{
        width:100%;
        margin-top: 40px;
    }

    .socialm{margin-top: 40px;}   

    footer{ height: 100%;}

    .footerrow{margin-top: 30px;}

    .footer_logo{
        margin-left: 20%;
        height: 70px;
        width: auto;
    }
   
    #gymaround{
        display:block;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 30px;
        color: #eaeaea;
        opacity: 0.8;}

        
/*************OWNER INDEX**************/
        
     #partnerform{margin-top: 30%;}   

/*************GYM INDEX**************/

        #biggymimg img{display: none;}

        .gymelement{height: 450px;}
       
        .trainerdescr{height: 50px;}

        .trainerdescr p{font-size: 16px;}

        .flip-card, .orangebox{
            height: 360px;
            width: 320px;
            float:left;
        }
        .flex-container-sundromes{display: inline;}

        #price{margin-top: 10px;}

        #priceback{
            margin-top: 50px;
            margin-bottom: 20px;
        }
     

   }

/************************************************************************
  ***************************RESPONSIVE 768 - 576*************************/

  @media (min-width: 575.98px) and (max-width: 767.98px) {
    
/*******INDEX***********/ 

    .nav-item > a{border-bottom:1px solid #303741;}

    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
    } 
    .basictitle, .rowtitle{
        font-size: 35px;
    }
   
    .img-fluid{
        padding-left: 5px;
    }

    .sponsorsFirst,.sponsorsSecond{
        margin: 1% 0;
    }

    #imagerow1 img {
         width:45%;
        padding: 5px;
    }

    #imagerow2 img {
        width:45%;
        padding: 5px;
    }

    .fimage{
        height: 500px;
        background-image: none;
        background-color: #1d1d1d;
    }
        
    #boxgrey{
        width:120%;
        height: 500px;
        background-color: #1d1d1d;
    }

    #btnsearch{width: 60%;}

    #btnmember, #bigtitle,  .blogrow,  #footermenu, #footerextra,  #footertitle, #title, #arrow{display:none;}

 
    .rowbestgym{display: none;}

    #gymtitle{margin-top: 50px;}
        
    #gymname{
        margin: 0;
        font-size: 21px;
    }
        
    #bgborder{
        height:100%;
        padding-top:5%;
        padding-bottom: 5%;
        border: 1px #e3e3e3  solid;
        margin-bottom: 2%;
    }
    .sponsorsFirst, .sponsorsSecond{
        width:20%
    }
/************MOBILE INDEX****************/
     #mobiletitle{
        display: inline;
        margin-top: 60px;
        display: block; 
        color: #1ecfcc;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 30px;
        text-align: center;}

    .rowbestgymmobile {
        display: block;   
    }

    #bgelementmobile {
        font-size: 13px;
        margin-top:3px;
        margin-bottom: 0;
    }
/*******FOOTER***********/  

    #btnfooter{
        width:100%;
    }

    .footer_logo{
        height: 100px;
        width: auto;
    }
    
    #gymaround{
        display:block;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 30px;
        color: #eaeaea;
        opacity: 0.8;
    }

/************ABOUTUS****************/
    .teamimg p{margin-top: 15px;}
        
    .teamimg img{
        width:100px;
        float: left;
    }
            
/***********OWNER REGISTER****************/

    #ourservices{padding-bottom: 650px;}

    .titlepartnerform{margin-top: 530px;}

      

/***********GYM INDEX***************/
    #biggymimg img{display: none;}

    .gymelement{height: 450px;}

    #gymlogo{width: 100%;}

    #gymaddress p, #activities{font-size: 18px;}

    #trainerphoto{ display: block;}

    iframe{height: 400px;}

 /****Flip Card*****/
    .flip-card, .orangebox{
        height: 360px;
        width: 240px;
        float:left;
    }

    .flex-container-sundromes{display: inline;}

    #price{ margin-top: 10px;}
        
    .trainerdescr{height: 50px;}

    .trainerdescr p{font-size: 16px;}
     
  }

/**************************************************************************************
****************************RESPONSIVE 575*********************************************/
 

@media (max-width: 575px) {

    .columnLightBox {
        float: left;
        width: 49%;   
      }

    .nav-item > a{
        border-bottom:1px solid #303741;
    }
    .navbar_logo {
        height:30px;
        width: auto;
        padding-left: 20px;
    }

        .flex-container {
            display: flex;
            flex-wrap: wrap;
            justify-content:center;
        }
        #slc1, #slc2 {
            width: 80%;
        }
        #sponsorstitle {
            margin-top: 0;
            margin-bottom: 40px;
        }
        .img-fluid{
            padding-left: 5px;
        }
        .sponsorsFirst, .sponsorsSecond{
            width:20%
        }

        .sponsorsFirst,.sponsorsSecond{
            margin: 1% 0;
        }

        #sponsors2{
            margin-left:-20px;
        }

        .sponsorsFirst img, .sponsorsSecond img {
            /* width:40vw; */
        }

        .rowtitle{
            margin-top: 0;
            font-size: 30px;
        }
                
        #gymname{
            margin: 0;
            font-size: 21px;
        }

        #bgelementmobile {
            font-size: 13px;
            margin-top:3px;
            margin-bottom: 0;
        }


        #bgborder{
            height:100%;
            padding-top:5%;
            padding-bottom: 5%;
            border: 1px #e3e3e3  solid;
            margin-bottom: 2%;
        }

        .rowbestgymmobile {
            display: block;   
        }

       #mobiletitle{
            margin-top: 60px;
            display: block; 
            color: #1ecfcc;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 30px;
            text-align: center;
        }
    

        .fimage{
            background-color: #1d1d1d;
            background-image: none;
            height: 500px;}

        #btnmember, #bigtitle,  #title, .blogrow, .rowbestgym,  #footermenu, #footerextra,   #imagerow2{display:none;}
                
        #boxgrey{
            
            width:100%;
            height: 350px;
        }

        #btnsearch{width: 80%;}

        #btnfooter{ width:70%; }

        .footer_logo{
            height: 100px;
            width: auto;
        }

        #footertitle{
            display: none;
        }

        #gymaround{
            display:block;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 30px;
            color: #b5b5b6;
        }

        .teamimg p{margin-top: 15px;}

        .teamimg img{
            width:100px;
            float: left;
        }
        #logintext{
            margin-left: 41%;
        }
 /*****************PARTNER****************/

        #ourservices{
            padding-bottom: 750px;
            margin-top: 100px;
        }
        .titlepartnerform{
            margin-top: 450px;
        }
       

/***************GYM INDEX*******************/
        #biggymimg img{display: none;}

        .gymelement{height: 500px;}

        #gymaddress p, #activities{font-size: 18px;}

        #gymsnames{
        padding-top: 30px;
        font-size: 25px;
        }
        #gymlogo{
            width: 100%;
            margin-top: 60px;
        }

        #imagerow1 img {
            width:70%;
            padding-bottom: 30px;
            margin-left:15%;
        }
       
       #trainerphoto{
           margin-bottom: 0;
       }
       .trainerdescr p {
        font-size: 16px;}

        .flex-container-sundromes{
            display: inline;
        }

        #blogdescription{
           font-size: 20px;

        }
       
        .flip-card-back, .flip-card, .orangebox {
            height: 300px;
            width: 100%;
        }
       #price{
            margin-top: 10px;
            font-size: 50px;
        }
        #priceback{
            margin-top: 30px;
            margin-bottom: 20px;
        }
        #month{
            margin-top: 20px;
            margin-bottom: 20px;

        }
        .buylink{
            margin-top: 20px;
            width: 60%;
        }
       iframe{height: 400px;}

/***************BLOG*******************/
#imgblog{
    background-image:url(../images/blog/blog_mobile.jpg);
    height: 25vh;
}


}


