* {
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

/**
 Navigation Bar Css
 */

.navbar_logo {
    height: 50px;
    width: auto;
    padding-left: 20px;
}

.navbar_hover_styling {
    color: #1ab5b7 !important;
}

.navbar_white {
    color: #e3e3e3 ;
}

/**
    error page css
 */
.error_img{
    height: 80vh;
    display: block;
    width: 100%;
    text-align: center;
}

.error_img img {
    height: 100%;
    width: auto;
}

.error_page_button {
    height: 20vh;
    width: 100%;
}

.error_page_button a{
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/*-------------LOGIN,REGISTER FORM----------------------*/
#cardBodyForm, #cardBodyReg{
    border:none;
}

#cardBodyForm #loginForm input:not([type='checkbox']), #cardBodyReg #registerForm input:not([type='checkbox']){
    border:none;
    border-bottom:3px solid black;
}

#cardBodyForm #loginForm input:not([type='checkbox']), #cardBodyReg #registerForm input:not([type='checkbox']){
    outline:none !important;
    -webkit-appearance:none !important;
    box-shadow:none !important;
}

#passwordDiv, #passwordDivReg{
    position: relative;
}

.glyphicon{
    position: absolute;
    right:5px;
    bottom:25%;
    transform: translateY(-25%);
}

.gym-title{
    background-color: #00c2db;
    color: white;
    width: 100%;
}

.gym-title h1{
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.login {
    padding: 40px;
}

/**
    Owner Profile Css
 */
.profile{
    height: 100%;
    width: 100%;
}

.profile .sidemenu{
    text-align: center;
    padding-right: 0;
    background: #2c2b2b;
}

.profile a{
    background: cadetblue;
    border-radius: 0 !important;
    text-decoration: none;
    color: #ffffff;
}

.profile .active_profile_tab,
.profile a:hover{
    background: #ffb243;
    color: cadetblue;
    font-weight: bold;
}

.main_profile{
    padding: 30px;
}

.profile_boxes{
    border: 1px solid cadetblue;
    width: 100%;
    padding: 0 !important;
}

.profile_boxes .form-group input, .add_trainer_modal .form-group input, .main_profile .form-group input {
    border-radius: 0 !important;
}

.minimum_height_profiles {
    min-height: 90vh;
}

.profile_boxes h4 {
    background: cadetblue;
    padding: 10px 20px;
    color: #ffffff;
}

/**
    Admin Profile Css
 */
.admin_users .main-box.no-header {
    padding-top: 20px;
}
.admin_users .main-box {
    background: #FFFFFF;
    -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
    margin-bottom: 16px;
    -webikt-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.admin_users .table a.table-link.danger {
    color: #e74c3c;
}
.admin_users .label {
    border-radius: 3px;
    font-size: 0.875em;
    font-weight: 600;
}
.admin_users .user-list tbody td .user-subhead {
    font-size: 0.875em;
    font-style: italic;
}
.admin_users .user-list tbody td .user-link {
    display: block;
    font-size: 1.25em;
    padding-top: 3px;
    margin-left: 60px;
}
.admin_users a {
    color: #3498db !important;
    outline: none!important;
    background: none !important;
}
.admin_users .user-list tbody td>img {
    position: relative;
    max-width: 50px;
    float: left;
    margin-right: 15px;
}

.admin_users .table thead tr th {
    text-transform: uppercase;
    font-size: 0.875em;
}
.table thead tr th {
    border-bottom: 2px solid #e7ebee;
}
.admin_users .table tbody tr td:first-child {
    font-size: 1.125em;
    font-weight: 300;
}
.admin_users .table tbody tr td {
    font-size: 0.875em;
    vertical-align: middle;
    border-top: 1px solid #e7ebee;
    padding: 12px 8px;
}

.admin_users .owner_active{
    color: #fff !important;
    background-color: #218838 !important;
    border-color: #1e7e34 !important;
    border-radius: 20px;
    padding: 5px 15px;
}

/**
       Blog Css
 */
.maxLength{
    display: block !important;
    max-height: 9em;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/**
    Footer Css
 */

footer{
    background-color: rgba(26, 25, 24, 0.88);
    color: #ffffff;
}

footer p a {
    color: #ffffff;
}

.payment-css {
    min-height: 70vh;
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
    box-sizing: border-box;

    height: 40px;

    padding: 10px 12px;

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

